

/*-------------------headBox------------------*/

.pc_view{
    margin:auto;
    width:100%; height:700px;
    background-image: url(../../../img/2020515_front_img_0.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 90%;
  
}
.indicator{
    width:37px; height:250px; 
    position:fixed;
    top:20vw; right:1.9444444vw;
    z-index:100;
}
.indicator li{
    width:28px; height:28px;
    margin-top:28px; border-radius: 100%;
    background-color: var(--color-deepgray);
}
.indicator li a{
    width: 100%;height: 100%;
}
.indicator li.on{
    background-color: var(--color-blue);
}

/*------------------newsBox-----------------*/
.pc_newsWrap{
    width: 100%;height: 1000px;
  
}
.pc_newsTheme{
    margin:auto;
    width:404px; height:5.55555556vw;
    padding-top:5.5555556vw;
}
.pc_newsTheme dt{
    margin:auto;
    text-align: center;
    width:230px;
    font-size: 1.875rem;
    color:var(--color-black);
}
.pc_newsTheme dd{
    margin:auto;
    text-align: center;
    width:406px;
    font-size: 1rem;
    color:var(--color-deepgray);
    padding-top:2.08333333vw;
}
.pc_newsWrap_02{
    overflow:hidden;
    width:77.5vw; height:27.77777777778vw;
    margin:auto;
}
.pc_news{
    height:28.819444vw;
    margin:auto;
    margin-top:7.291667vw;
}
.pc_news dl{
    float:left;
    width: 24.16667vw; height: 20.486111vw;
    border: 1px solid var(--color-black); 
    box-sizing: border-box;
    margin-left:2.6388889vw ;

}
.pc_news dt{
    width:100%;height:13.0555556vw;
    margin-top:1.0416667vw;
    background-color: #cdc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;
}

.pc_theme{margin-top:10px;margin-left:5px; font-size:0.875rem; color:var(--color-black);}
.pc_date{margin-top:10px; margin-left:5px;font-size: 0.75rem; color:var(--color-deepgray);}



.pc_button{
    position:relative;
    width:80px;height:20px;
    margin:auto; top:35vw;
    
}
.pc_prev{
    float:left;
    font-size: 1.6rem;
}
.pc_next{
    float:right;
    font-size: 1.6rem;
}
/*---------------------------youtubeBox----------------------*/
.pc_youtubeBox{
    width:100%; height:1000px;
    background-color: var(--color-white);
   
}
.pc_youtubeBox_theme{
    margin:auto;
    width:374px; height:6.11111111vw;
    padding-top:10vw;
}
.pc_youtubeBox_theme dt{
    margin:auto;
    text-align: center;
    width:260px;
    font-size: 1.875rem;
    color:var(--color-black);
}
.pc_youtubeBox_theme dd{
    margin:auto;
    text-align: center;
    width:374px;
    font-size: 1rem;
    color:var(--color-deepgray);
    padding-top:2.08333333vw;
}



.pc_youtubeBox_01{
    width:77.8vw; height:28.819444vw;
    margin:auto;
    margin-top:7.291667vw;
}

.pc_youtubeBox_01 dt{
    width:100%;height:13.0555556vw;
    margin-top:1.0416667vw;
    background-color: #cdc;
    box-sizing: border-box;
}
.first_youtubeBox{
    float:left;
    margin-left:0;
    width: 24.16667vw; height: 20.486111vw;
    border: 1px solid var(--color-black); 
    box-sizing: border-box;
    margin-top: 2.63888889vw;
}
.pc_theme{margin-top:10px;margin-left:5px; font-size:0.875rem; color:var(--color-black);}
.pc_date{margin-top:10px; margin-left:5px;font-size: 0.75rem; color:var(--color-deepgray);}

.second_youtubeBox{
    float:left;
    width: 24.16667vw; height: 20.486111vw;
    border: 1px solid var(--color-black); 
    box-sizing: border-box;
    margin-left:2.6388889vw ;margin-top: 2.63888889vw;
}
.third_youtubeBox{
    float:left;
    width: 24.16667vw; height: 20.486111vw;
    border: 1px solid var(--color-black); 
    box-sizing: border-box;
    margin-left:2.6388889vw ;margin-top: 2.63888889vw;
}
.pc_broadcast{margin-left:0.8333vw; margin-top:1.1111vw; font-size: 0.625rem; color:red;}
.pc_theme{margin-left:0.8333vw; margin-top:1.1111vw; font-size: 0.875rem; color:var(--color-black);}

/*-------------------drugInfoBox------------------*/

.pc_drugInfoWrap{
    width:100%; height:900px;
    background-color: var(--color-white);
}

.pc_drugInfoTheme{
    margin:auto;
    width:366px; height:5.55555556vw;
    padding-top:5.5555556vw;
}
.pc_drugInfoTheme dt{
    text-align: center;
    margin:auto;
    width:164px;
    font-size: 1.875rem;
    color:var(--color-black);
}
.pc_drugInfoTheme dd{
    text-align: center;
    font-size: 1rem;
    color:var(--color-deepgray);
    padding-top:2.08333333vw;
}

.pc_drugPic{
    width:77.638889vw; height:22.36111vw;
    margin:auto; margin-top:3.3333333vw;
}
.pc_drugPic li{
    float:left;
    width:14.166667vw; height:10.833333vw;
    margin-left:1.597222vw;
    margin-top:1.597222vw;
    background-color: var(--color-white);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.pc_drugPic li:first-child{
    margin-left: 0;
}
.pc_drugPic li:nth-child(6){
    margin-left: 0;
}

