/*------------------footer---------*/

.pc_footer{
    width:100%; height:20.833333vw;
    background-color: var(--color-gray);
}
.pc_address{
    margin-left:11.319444vw; padding-top: 6.597222vw;
    width:77.5vw; height:7.6388889vw;
}
.pc_address li{
    font-size: 1rem;
    float:left;
}
.pc_address li:nth-child(2){
    float:right;
    margin-left: 6.944444vw;
}
.pc_address li:nth-child(3){
    float:right;
    margin-left:1.458333vw;
}
#family_site{
    width:11.36111vw; height:3.125vw; 
    color:var(--color-black);
    text-align:center;
}
#site_map{
    width:11.36111vw; height:3.125vw; color:var(--color-black);
}