
    #wrap{
        width:100%; height:auto;
        background-color:var(--color-white);
    }
    /*-----------------------------headBox----------*/
    #headBox{
        margin:auto;
        width:82.5vw; height:100px;
        background-color: var(--color-white); 
    }
    .m_h1{
        float:left;
        width:108px; height:60px;
        margin-top: 20px;
        background-image: url(../../../img/pfizer_logo.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #navBox{
        float:right;
    }

    .menu_btn{
        position:relative;z-index:500;
    }
    .menu_btn,.menu_btn > button{
        position:relative;
        top:0;
        z-index: 500;
        width:16vw; height:20vw;background-color: var(--color-white);
    }
    .menu_btn i{
        position:absolute;
        z-index:600 ;
        top:0; bottom:0; left:0; right:0;
        margin:auto;
        border-radius: 1.041667vw ; display:block; width: 100%;height: 0.83333vw;
        background-color: var(--color-black);opacity:1; transition:all 300ms ease;
    }
    .line_02{
        transform:translateY(-5.2vw);
    }
    .line_03{
        transform:translateY(5.2vw);
    }
    .menu_btn.on .line_01{opacity:0;}
    .menu_btn.on .line_02{transform:translate3d(10 10 10)}
    .menu_btn.on .line_03{transform:translate3d(-10 -10 -10)}

    .gnb{
        display:none;
        position:fixed;
        top:0; right:0; left:0; bottom:0; 
        margin:auto;
        z-index:100; 
        width: 100%; height:100%;
        background-color: rgba(255,255,255,0.7);}
  

    .gnb_01 dt{
        width:100px; height: 30px;
        margin:auto;
        margin-top: 30vw;
        font-size: 1.2rem;
        color: var(--color-black);
    }
    .gnb_01 dd{
        margin:auto;
        width:100px;height:20px;
        margin-top:10px;
        font-size: 1rem;
    }
    .gnb_01 a{margin-top:1rem;}
    .intro_01{margin-top: 1rem;}
    .intro_02{margin-top: 1rem;}
    .intro_03{margin-top: 1rem;}
    .intro_04{margin-top: 1rem;}
    .intro_05{margin-top: 1rem;}
    .intro_06{margin-top: 1rem;}
    .gnb_02{
        display:none;
    }
    .gnb_02 li{
        width:100px; height: 30px;
        margin:auto;
        margin-top:30px;
        font-size: 1.2rem;
        color: var(--color-black);
    }
    
    /*==================================vieWBox============*/

    .m_pfizer_picBox{
        width:100%; height:62.5vw;
        background-image: url(../../../img/2020515_front_img_0.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;  
        background-size: cover;
    }
    /*-------------------newsBox--------------------------*/
    .m_newsWrap{
        width:100%; height:86.33333333vw;
        background-color: var(--color-white);
    }
    .m_newsTheme{
        margin:auto;
        padding: 6.25vw;
        width:356px; height:40px;
        text-align:center;
    }
    .m_newsTheme dt{
        font-size: 1.25rem;
        margin:auto;
    }
    .m_newsTheme dd{
        font-size:0.8125rem; 
        color: var(--color-deepgray);
        margin-top: 1.875vw;
    }

    .m_news{
        margin:auto;
        margin-top: 5.416667vw; 
        width:82.5vw; height:57.291667vw;
        background-color: var(--color-white);   
    }
    .m_news dl{
        width:100%; height:50.8333333vw;
        border:1px solid var(--color-black);
    }
    .m_news dt{
        width:100%; height:38.541667vw;
        background-color: var(--color-gray);
    }
    .theme{
        margin-left:2.708333vw;
        font-size:0.875rem;
        color:var(--color-black);
        margin-top: 2.291667vw;
    }
    .date{
        margin-left:2.708333vw;
        font-size:0.75rem;
        color:var(--color-deepgray);
        margin-top:2.041667vw;
    }
    .m_button{
        width:10.416667vw; height:3.75vw;
        margin: auto;
        margin-top: 2.9166667vw;
        font-size: 1rem;
    }
    .m_prev{
        float:left;
    }
    .m_next{
        float:right;
    }
    /*----------------------------youtubeBox--------------------*/

    .m_youtubeBox{
        width:100%; height: 104.58333333333vw;
        background-color: var(--color-white);
    }

    .m_youtubeBox_theme{
        width:64.5833333333vw; height:8.33333333vw;
        margin:auto;padding-top: 7.291666666666666667vw;
    }
    .m_youtubeBox_theme dt{
        width:177px; 
        margin:auto;
        font-size: 1.25rem;color:var(--color-black);
    }
    .m_youtubeBox_theme dd{
        width:300px; height:15px;
        margin:auto;  margin-top: 1.875vw;
        font-size: 0.8125rem;color:var(--color-deepgray);
    }

    .m_youtube_01{
        margin:auto;
        width:82.5vw; height:71.875vw;
    }
    .m_youtubeBox_01{
        width:82.5vw; height:29.5833333333vw;
        margin-top:9.7916666667vw;
        border:1px solid var(--color-black);
    }
    .m_movie_01{
        float:left;
        width:48.3333333333vw; height:26.6666666666666667vw;
    }
    .m_movie_theme_01{margin-left:3.5416666667vw;}
    .m_movie_theme_01 dt{
        margin-top:1.458333333vw;
        font-size: 0.614375rem ;
        color:red;
    }
    .m_movie_theme_01 dd{
        margin-top:3.125vw;
        font-size: 0.75rem;
        color: var(--color-black);
    }
   
    .m_youtubeBox_02{
        width:82.5vw; height:29.5833333333vw;
        margin-top:9.7916666667vw;
        border:1px solid var(--color-black);
    }
    .m_movie_02{
        float:left;
        width:48.3333333333vw; height:26.6666666666666667vw;
    }
    .m_movie_theme_02{margin-left:3.5416666667vw;}
    .m_movie_theme_02 dt{
        margin-top:1.458333333vw;
        font-size: 0.614375rem ;
        color:red;
    }
    .m_movie_theme_02 dd{
        margin-top:3.125vw;
        font-size: 0.75rem;
        color: var(--color-black);
    }

/*-------------------------------------------drugInfoBox---------*/
.m_drugInfoBox{
    width:100%; height: 104.58333333333vw;
    background-color: var(--color-white);
}

.m_drugInfo_theme{
    width:56.25vw; height:8.33333333vw;
    margin:auto;padding-top: 7.291666666666666667vw;
}
.m_drugInfo_theme dt{
    width:112px;
    margin:auto;
    font-size: 1.25rem;color:var(--color-black);
}
.m_drugInfo_theme dd{
    width:270px;
    margin:auto; margin-top:1.875vw;
    font-size: 0.8125rem;color:var(--color-deepgray);
}
.m_drug_pic{
    margin-top: 14.5833333333333vw;
    margin-left:8.95833333333333vw;
    width:82.70833333333vw; height:43.95833333333333vw;
    background-image: url(../../../img/drugcollection.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
/*-----------------------footBox------------------------------------*/
#footBox{
    background-color: var(--color-deepgray);
}
.m_footBox{
    padding-top:8.3333333333333vw;
    margin-left:12.5vw;
    width:58.3333333333vw; height:25.625vw;
    font-size: 0.025rem;
    line-height:2rem;
}