@charset "UTF-8";
/* variable.css */

:root{
  --var: 100%;

  --color-white:#fff;
  --color-black:#171717;
  --color-deepgray:#8c8c8c;
  --color-gray:#F5F5F5;
  --color-blue:#0392CF;
  --color-blue-opacity:rgba(3 146 207 0.5);
  

}
